body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.62;
}
h1, h2, h3 {
    font-family: 'Merriweather', serif;
}
a, button {
    transition: all .3s linear;
}
a:focus, a:hover {
    text-decoration: none;
}
.header-block {
    background-color: #0d0826;
    border-bottom: 2px solid #fff;
    color: #fff;
}
.header-row-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.header-contact-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header-contact-block a {
    color: #fff;
    font-size: 22px;
    margin-left: 15px;
    border-bottom: 1px solid transparent;
}
.header-contact-block a:hover {
    border-bottom: 1px solid #fff;
}
.order-button-click {
    padding: 12px 22px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    position: relative; 
}
.order-button-click-header {
    margin-left: 15px;
}
.order-button-click:after {
    content: " ";
    border: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.4s;
}
.order-button-click:hover:after {
    border: 2px solid #fff;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}
.header-logo img {
    width: 315px;
}
button.close {
    font-size: 26px;
    z-index: 1;
    position: relative;
    right: 15px;
    top: 7px;
}
.owl-feedback-form input, .owl-feedback-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}
.order-button-click-black {
    border-color: #0d0826;
    color: #0d0826;
    width: 100%;
    margin-left: 0;
}
.order-button-click-black:hover:after {
    border-color: #0d0826;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.navbar-nav > li:hover a::after, .navbar-nav > li > a:focus::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #0d0826;
    position: absolute;
    bottom: 0;
    left: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #0d0826;
    position: relative;
}
.navbar-default .navbar-nav > li > a {
    color: #0d0826;
}
.banner-image-block img {
    width: 100%;
}
.main-banner-block {
    position: relative;
    margin-bottom: 40px;
}
.main-banner-button {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-banner-button .order-button-click {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}
.main-page-title {
    text-align: center;
    margin-bottom: 30px;
}
.min-subtitle {
    border-bottom: 1px solid #333;
    display: inline-block;
    margin-bottom: 40px;
    padding-bottom: 5px;
}
.practics-item-block {
    width: 32%;
    background-image: url("../images/practics1.jpg");
    background-size: 100%;
    padding: 40px 25px;
    position: relative;
    margin-bottom: 30px;
}
.practics-item-block:nth-child(2) {
    background-image: url("../images/practics2.jpg");
}
.practics-item-block:nth-child(3) {
    background-image: url("../images/practics3.jpg");
}
.practics-item-block:nth-child(4) {
    background-image: url("../images/practics4.jpg");
}
.practics-item-block:nth-child(5) {
    background-image: url("../images/practics5.jpg");
}
.practics-item-block:nth-child(6) {
    background-image: url("../images/practics6.jpg");
}
.practics-item-block:nth-child(7) {
    background-image: url("../images/practics7.jpg");
}
.button-title-practics {
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: bold;
    display: block;
    margin-bottom: 40px;
    padding: 0;
    position: relative;
    border-bottom: 1px solid transparent;
    text-align: left;
}
.button-title-practics:hover {
    border-bottom: 1px solid #fff;
}
.flex-block-pracktics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.overlay-practics {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-content {
    border-radius: 0;
}
.about-block-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.about-block-main-img {
    width: 40%;
}
.about-block-main-img img {
    width: 100%;
}
.about-block-main-text {
    width: 56%;
    font-size: 18px;
}
.subtitle-block-center {
    text-align: center;
}
.black-main-page-button {
    border-color: #333;
    color: #333;
}
.black-main-page-button:hover:after {
    border-color: #333;
}
.main-success-img img {
    width: 100%;
}
.main-success-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-success-item {
    width: 24%;
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid #333;
    padding-bottom: 30px;
}
.main-success-title a {
    color: #333;
    border-bottom: 1px solid #333;
}
.main-success-title {
    margin: 20px 0 40px 0;
}
.main-success-title a:hover {
    border-color: transparent;
}
.main-success-link {
    text-align: center;
}
.post-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0;
    margin-bottom: 40px;
}
.post-item-wrap {
    background: #f5f5f5;
    position: relative;
    width: 31%;
    margin-bottom: 40px;
}
.post-link {
    text-decoration: none;
    display: block;
    padding: 30px;
    color: #333;
}
.post-item-wrap:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #777;
    transform: rotate(1deg);
    transform-origin: left bottom;
    transition: .3s ease-in-out;
}
.post-item-wrap:hover:after {
    top: 5px;
    left: 5px;
    transform: rotate(2deg);
}
.post-item-wrap p {
    font-size: 14px;
}
.margin-bottom-check {
    margin-bottom: 40px;
}
@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
        font-weight: bold;
    }
}
@media(max-width: 767px) {
    .header-row-flex {
        flex-wrap: wrap;
    }
    .order-button-click {
        margin: 15px;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 6px;
        transform: rotate(45deg);
    }
    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background: transparent;
    }
    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
}
@media(max-width: 500px) {
    .header-logo img {
        width: 100%;
    }
    .header-contact-block a {
        font-size: 18px;
    }
    .main-banner-button .order-button-click {
        font-size: 22px;
    }
}